<div>
    <h1>Registro</h1>
    <form id="registerForm">
        <label>nombre</label>
        <input name="first_name">
        <label>Apellido</label>
        <input name="last_name">
        <label>Email</label>
        <input name="email">
        <label>Edad</label>
        <input name="age">
        <label>Password</label>
        <input type="password" name="password">

        <input type="submit">
    </form>

    <p>¿ya tenes cuenta? <a href="/login">Ingrese aqui</a></p>
</div>

<script src="/js/register.js"></script>