<div class="flex justify-center items-center w-screen h-screen bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black">
    <section class="text-white bg-gray-600 w-[500px] h-[650px] rounded-lg animate-fade animate-once animate-duration-1500 animate-delay-400 animate-ease-in animate-normal animate-fill-forwards">
        <h1 class=" font-bold text-white text-4xl mt-5 ml-4">Comienza 🎉🎉</h1>
        <h3 class="text-gray-300 my-4 ml-4">Crea tu cuenta ahora!</h3>
        <form id="registerForm" class="flex flex-col">
            <label class=" ml-4 text-2xl mb-2">nombre</label>
            <input name="first_name" required class=" w-[80%] ml-4 rounded-sm mb-3 text-black">
            <label class=" ml-4 text-2xl mb-2">Apellido</label>
            <input name="last_name" required class=" w-[80%] ml-4 rounded-sm mb-3 text-black">
            <label class=" ml-4 text-2xl mb-2">Email</label>
            <input name="email" required class=" w-[80%] ml-4 rounded-sm mb-3 text-black">
            <label class=" ml-4 text-2xl mb-2">Edad</label>
            <input name="age" required class=" w-[80%] ml-4 rounded-sm mb-3 text-black"> 
            <label class=" ml-4 text-2xl mb-2">Password</label>
            <input type="password" name="password" required class=" w-[80%] ml-4 rounded-sm mb-3 text-black">

            <input type="submit" value="Registrarse" class="bg-black w-24 rounded-md my-4 ml-4 hover:cursor-pointer hover:border-white border-2 border-transparent">
        </form>

        <p class="ml-4 text-lg">¿ya tenes cuenta? <a href="/login" class="font-bold hover:text-cyan-300">Ingrese aqui</a></p>
    </section>
</div>

<script src="/js/register.js"></script>